/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.main {
    background: url("https://images.pexels.com/photos/207684/pexels-photo-207684.jpeg?_gl=1*86exfu*_ga*NjI0OTM1NTMuMTc1NzU4Mjg3Mw..*_ga_8JE65Q40S6*czE3NTc1ODI4NzMkbzEkZzEkdDE3NTc1ODI5MzgkajYwJGwwJGgw");
    background-repeat: no-repeat;
    background-size: 100%;
    height:140vh;    
}

.main-page-containt {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    row-gap: 3rem;
    margin-inline: 3rem;
}

.main-page-containt h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;

}

.main-page-containt p {
    font-size: 1rem;
    color:#FFFFFF;
    line-height: 1.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    width:100vw;
    top: 0;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.123);
    /* box-shadow: 0px 0px 20px rgba(240, 245, 247, 0.932); */
}

header nav {
    display: flex;
    background-color: transparent;

    justify-content: space-between;
    padding-inline: 2rem;
    height: fit-content;
}

header nav img {
    height: 5rem;
    width: 6rem;
    object-fit: cover;
}

.navigation-btn {
    display: flex;
    gap: 3rem;
    align-items: center;
}


.navigation-btn a {
    text-decoration: none;

    color:white;
    font-size: 1.2rem;
}



@media (max-width:768px) {

    /* Navigation Bar */
    /* header nav {
        background-color: green;
    } */

    header nav img {
        height: 4rem;
        width: auto;
        margin-right: 2rem;
    }

    .main {
        height:95vh;
        background-size: cover;

    }

    .navigation-btn {
        gap: 1rem;
        justify-content: space-evenly;
    }

    .navigation-btn a {
        font-size: 0.97rem;
    }

    /* .main page containt */
    .main-page-containt {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        margin-inline: 3rem;
    }

    .main-page-containt h1 {
        font-size: 2rem;
   }

    .main-page-containt p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}

@media (max-width:425px) {

    /* body */
    body {
        background-size: contain;
        height: 100vh;
        width: 100%;
    }

    .main {
        height:65vh;
    }
    /* navigation baar */
    header nav {
        /* background-color: pink; */
        padding-inline: .3rem;
    }

    header nav img {
        height: 2.5rem;
        width: auto;
    }

    .navigation-btn {
        gap: .5rem;
    }

    .navigation-btn a {
        font-size: .49rem;
    }

    /* .main page containt */
    .main-page-containt {
        margin-inline: 1rem;
        flex-direction: column;
        line-height: 1rem;
        margin-block: 2rem;
    }

    .main-page-containt h1 {
        font-size: 0.9rem;
        /* color:black; */

    }

    .main-page-containt p {
        font-size: 0.5rem;
        /* color: black; */
        line-height: 0.6rem;
    }
}
@media (max-width:375px) {
    .main{
        height: 55vh;
    }
}
@media (max-width:320px) {
    .main {
        height:45vh;
    }
}