/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Montserrat", sans-serif;

}
.wrap-container{
    max-width: 1024px;
    margin: 0 auto;
}
body {
    background-color: #373e42b9 !important;
}

.main {
    /* background:linear-gradient(rgba(0, 0, 0, 0.658)), url("https://images.pexels.com/photos/207684/pexels-photo-207684.jpeg?_gl=1*86exfu*_ga*NjI0OTM1NTMuMTc1NzU4Mjg3Mw..*_ga_8JE65Q40S6*czE3NTc1ODI4NzMkbzEkZzEkdDE3NTc1ODI5MzgkajYwJGwwJGgw"); */
    background: linear-gradient(rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/flagged/photo-1554473675-d0904f3cbf38?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 125vh;
}

.main-page-containt {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    row-gap: 3rem;
    margin-inline: 3rem;
}

.main-page-containt h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;

}

.main-page-containt p {
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.5rem;
    font-weight: 500;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    backdrop-filter: blur(7px);
    background-color: rgba(236, 234, 234, 0.164);
    /* box-shadow: 0px 0px 20px rgba(240, 245, 247, 0.932); */
}

header nav {
    display: flex;
    background-color: transparent;
    max-width: 1024px;
    justify-content: space-between;
    padding-inline: 2rem;
    height: fit-content;
}

/* Animations in icon of navigation bar */
header nav div a::after {
    transition: all 0.5s ease;
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0%;
    bottom: -5px;
    left: 0;
    background-color: white;
}

header nav div a:hover::after {
    width: 100%;
}



header nav img {
    height: 5rem;
    width: 6rem;
    object-fit: cover;
    background-color: transparent;
}

.navigation-btn {
    display: flex;
    gap: 3rem;
    align-items: center;
}


.navigation-btn a {
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 1rem;
}

.course-container h1 {
    text-align: center;
    line-height: 1.5rem;
    font-weight: 700;
    color: black;
    /* background-color: rgba(255, 255, 255, 0.144); */
    /* box-shadow: 0 0 .5px white; */

    border-bottom: 5px solid #fff34b;
    width: max-content;
    margin: 0 auto;
    padding-bottom: 0.5rem;

}

.course-container {
    padding-inline: 1rem;
    padding-block: 3rem;
}

.course-container p {
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem;
}

.course-container-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    /* justify-content: space-evenly; */
}

.course-block {
    /* background-color: rgba(163, 148, 131, 0.603); */
    background-color: rgba(245, 245, 245, 0.664);
    text-align: start;
    line-height: 1.5rem;
    border: 1px solid white;
    border-radius: .5rem;
    flex-grow: 1;
    width: 30%;
    margin: 0 auto;
    padding: 1rem;
    transition: scale 0.2s ease-in;
}


/* animations in all blocks */
.course-block:hover {
    /* scale: 0.95; */
    background-color: rgba(255, 255, 255, 0.89);

}


.course-block p {
    text-align: justify;
    line-height: .9rem;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.981);
}

.course-block h2 {
    text-align: center;
    margin-bottom: .3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    text-decoration: 2px underline #fff34b;
}

.course-block li {
    line-height: 0.5rem;
    text-align: justify;
}

.course-block h4 {
    font-size: 0.95rem;
    line-height: 0.9rem;
    color: black;
}

/* global campus sections */
.global-campus-container {
    padding-block: 2rem;
    text-align: center;
    padding-inline: 5rem;
}

.global-campus-container h1 {
    margin-block: 2rem;
    color: black;
    font-weight: 700;

    text-decoration: underline #fff34b 2px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1.2rem;

}

.global-campus-container p {
    line-height: 1.5rem;
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding-inline: 1.5rem;
}

.campus-container-child {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

}

.campus-img {
    width: 30%;
    height: 15rem;
    border: 1px solid white;
    transition: all .4s ease;
}

.campus-img:hover {
    /* scale: 1.1;     */
    background-size: 120%;
}

.campus-img1:hover {
    /* scale: 1.1;     */
    background-size: 128%;
}

.campus-img1 {
    background: url("https://images.unsplash.com/photo-1637766554705-dd30a0e2b15d?q=80&w=1624&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 118%;
    background-repeat: no-repeat;
    background-position: center;

}

.campus-img2 {
    background: url("https://images.unsplash.com/photo-1689773271095-7cfc4c1b5340?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
}

.campus-img3 {
    background: url("https://images.unsplash.com/photo-1663335818840-4b99858adace?q=80&w=826&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}


/* Our facilitiess container */
.our-facilities-container {
    padding: 5rem;
}

.our-facilities-container h1 {
    margin-block: 2rem;
    color: black;
    font-weight: 700;
    text-decoration: underline #fff34b 2px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1.2rem;
}

.our-facilities-container p {
    line-height: 1.5rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-inline: 1.5rem;
}

.our-facilities-child {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.card {
    z-index: -1;
    flex-grow: 1;
}

.card h5 {
    font-weight: 600;
    text-align: center;
}


@media (max-width:768px) {

    /* Navigation Bar */
    /* header nav {
        background-color: green;
    } */

    header nav img {
        height: 4rem;
        width: auto;
        margin-right: 2rem;
    }

    .main {
        height: 95vh;
        background-size: cover;

    }

    .navigation-btn {
        gap: 1rem;
        justify-content: space-evenly;
    }

    .navigation-btn a {
        font-size: 0.97rem;
    }

    /* .main page containt */
    .main-page-containt {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        margin-inline: 3rem;
    }

    .main-page-containt h1 {
        font-size: 2rem;
    }

    .main-page-containt p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    /* course container */
    .course-container-child {
        flex-direction: column;
        flex-shrink: auto;
    }

    .course-block {
        width: 90%;
        margin: 0 auto;
    }

    /* campus section */

    .campus-container-child {
        flex-direction: column;
    }

    .campus-img {
        width: 90%;
        height: 20rem;
        border: 1px solid white;
        margin: 0 auto;
    }
}

@media (max-width:425px) {

    /* body */
    body {
        background-size: contain;
        height: 100vh;
        width: 100%;
    }

    .main {
        height: 65vh;
    }

    /* navigation baar */
    header nav {
        /* background-color: pink; */
        padding-inline: .3rem;
    }

    header nav img {
        height: 2.5rem;
        width: auto;
    }

    .navigation-btn {
        gap: .5rem;
    }

    .navigation-btn a {
        font-size: .49rem;
    }

    /* .main page containt */
    .main-page-containt {
        margin-inline: 1rem;
        flex-direction: column;
        line-height: 1rem;
        margin-block: 2rem;
    }

    .main-page-containt h1 {
        font-size: 0.9rem;
        /* color:black; */

    }

    .main-page-containt p {
        font-size: 0.5rem;
        /* color: black; */
        line-height: 0.6rem;
    }

    /* course */
    .course-block {
        width: 90%;
        margin: 0 auto;
    }

    /* images of campus */
    .campus-container-child {
        flex-direction: column;
    }

    .campus-img {
        width: 90%;
        height: 10rem;
        border: 1px solid white;
        margin: 0 auto;
    }

    /* global campus */
    .global-campus-container {
        padding-block: 2rem;
        text-align:justify;
        padding-inline: 1rem;
        max-width: 23.5rem;
        margin: 0 auto;
    }
    .our-facilities-container {
        padding-block: 2rem;
        text-align:justify;
        padding-inline: 1rem;
        max-width:23.5rem;
    }
}

@media (max-width:375px) {
    .main {
        height: 55vh;
    }
    .global-campus-container {
        padding-block: 2rem;
        text-align:justify;
        padding-inline: 1rem;
        width: 25rem;
    }
    .our-facilities-container {
        padding-block: 2rem;
        text-align:justify;
        padding-inline: 1rem;
        width: 25rem;
    }
}

@media (max-width:320px) {
    .main {
        height: 45vh;
    }
    .global-campus-container {
        padding-block: 2rem;
        text-align:justify;
        padding-inline: 1rem;
        width: 20rem;
    }
    .our-facilities-container {
        padding-block: 2rem;
        text-align:justify;
        padding-inline: 1rem;
        width: 20rem;
    }
}