/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: url(https://images.unsplash.com/20/cambridge.JPG?q=80&w=847&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-page-containt {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    row-gap: 3rem;
    margin-inline: 3rem;
}

.main-page-containt h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;

}

.main-page-containt p {
    font-size: 1rem;
    color:#FFFFFF;
    line-height: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.123);
    box-shadow: 0px 0px 20px rgba(240, 245, 247, 0.932);
}

header nav {
    display: flex;
    background-color: transparent;

    justify-content: space-between;
    padding-inline: 2rem;
    height: fit-content;
}

header nav img {
    height: 5rem;
    width: 6rem;
    object-fit: cover;
}

.navigation-btn {
    display: flex;
    gap: 3rem;
    align-items: center;
}


.navigation-btn a {
    text-decoration: none;

    color:white;
    font-size: 1.2rem;
}



@media (max-width:768px) {

    /* Navigation Bar */
    /* header nav {
        background-color: green;
    } */

    header nav img {
        height: 4rem;
        width: auto;
        margin-right: 2rem;
    }

    .navigation-btn {
        gap: 1rem;
        justify-content: space-evenly;
    }

    .navigation-btn a {
        font-size: 0.97rem;
    }

    /* main page containt */
    .main-page-containt {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        gap: 2rem;
        margin-inline: 3rem;
    }

    .main-page-containt h1 {
        font-size: 2rem;
   }

    .main-page-containt p {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}

@media (max-width:425px) {

    /* body */
    body {
        background-size: contain;
        height: 100vh;
        width: 100%;
    }

    /* navigation baar */
    header nav {
        /* background-color: pink; */
        padding-inline: .3rem;
    }

    header nav img {
        height: 2.5rem;
        width: auto;
    }

    .navigation-btn {
        gap: .5rem;
    }

    .navigation-btn a {
        font-size: .49rem;
    }

    /* main page containt */
    .main-page-containt {
        gap: 1rem;
        margin-inline: 1rem;
        flex-direction: column;
        height: 200vh;
        line-height: 1rem;
        margin-block: 2rem;
        row-gap: 2rem;
    }

    .main-page-containt h1 {
        font-size: 0.9rem;
        

    }

    .main-page-containt p {
        font-size: 0.5rem;
        line-height: 0.6rem;
    }
}